body{
    margin: 0;
}

/*side menu mobile first. Por defecto no se muestra*/
.sideMenu{
    display: none;
    background-color: white;
    width: 230px;
    float: left;
}
@media (min-width: 768px) {
    .sideMenu{
        display: block;
    }
}
.sideMenu ul{
    margin: 0 auto;
    padding: 0;
}
.sideMenu ul li{
    display: block;
}
.sideMenu ul li a{
    font-size: 18px;
    display: block;
    line-height: 20px;
    /*width: 84%;*/
    padding: 12px 8%;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #455a64;
    cursor: pointer;
}
.sideMenu ul li a:hover{
    background-color: #e0e0e0;
}
.sideMenu ul li a .iconos{
    float:left; 
    margin-right: 10px
}

/*Iconos del side menu*/
.iconos{
    background-size: 100%; 
    background-position: center !important; 
    background-repeat: no-repeat; 
    height: 24px !important; 
    width: 24px !important; 
    opacity: 0.7;
}

.Separator {
    border-bottom: solid 1px #e0e0e0;
    width: 100%;
    overflow: hidden;
    height: 0px;
    margin: 10px 0px;
    clear: both;
}

/*Estilo del logo DELTA*/
.logo {
    width: 230px; 
    height: 64px;
    background-color: transparent;
    border-right:none;
}
@media (min-width: 768px) {
    .logo{
        border-right: solid 1px #0277bd;
        background-color: #0288d1; 
    }
}

.logoPpal{
    width: auto; 
    height: 30px; 
    margin-top: 7px; 
    margin-left: 12px; 
    font-size: 36px; 
    font-weight: bold; 
    display: inline-block;
    color: white;
    opacity: 0.9;
}

.separatorLogo{
    width: 2px;
    height: 27px;
    margin: 0 8px;
    background-color: white;
    display: inline-block;
    opacity: 0.5;
}

.descripcion{
    width: 90px;
    height: 30px;
    display: inline-block;
    color: white;
    opacity: 0.7;
    font-size: 13.5px;
}

/*Estilo de perfil usuario*/
.imagenPerfilUsuario{    
    float: left; 
    width: 48px !important; 
    height: 48px !important;
    margin-right: 5px;
}

.nombrePerfilUsuario{ 
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.rolUsuario{
    font-family: 'roboto_condensedlight';
    font-size: 13px !important;
}

/*Estilo de iconos a la derecha del banner*/
.contenedorIconosHeader{
    display: none;
    height: 47px;
    width: auto;
    margin-top: 8px;
    float: right !important;
}
@media (min-width: 768px) {
    .contenedorIconosHeader{
        display: inline;
    }
}
.contenedorIndividualIconos{
    width: 47px;
    height: 47px;
    margin-left: 4px;
    display: inline-block;
    float: right;
    transition: all 0.3s ease;    
    border-radius: 50%;
    cursor: pointer;
    color: #e1f5fe;
    overflow: hidden;
}

.contenedorIndividualIconos:hover{
    background-color: #039be5;
}

.iconoHeader{
    width: 32px;
    height: 36px;
    margin: 5.5px auto;
    background-size: 100%; 
    background-position: center !important; 
    background-repeat: no-repeat;
    opacity: 0.9;
}
