body{
    margin: 0;
}

.sideMenu{
    background-color: white;
    width: 230px;
}

.sideMenu ul{
    /*    margin: 0;
        height: 44px;
        max-width: 1200px;*/
    margin: 0 auto;
    padding: 0;
}
.sideMenu ul li{
    width: auto;
    font-size: 18px;
}

.sideMenu ul li a{
    width: 84%;
    display: block;
    /*padding: 12px 16px;*/
    padding: 12px 8%;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #455a64;
    cursor: pointer;
}

.sideMenu ul li a:hover{
    background-color: #e0e0e0;
}

.menu-desplegable{
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: white !important;
}

.navbar {
    background-color: #03a9f4 !important;
    border-radius: 0 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.navbar-brand{
    color: white !important;
}

.navbar-collapse{
    border-style: none !important;
    padding: 0;
}

.navbar-collapse li:hover{
    background-color: #3F51B5 !important;
}

.iconos{
    background-size: 100%; 
    background-position: center !important; 
    background-repeat: no-repeat; 
    height: 24px !important; 
    width: 24px !important; 
    opacity: 0.7;
}

.Separator {
    border-bottom: solid 1px #e0e0e0;
    width: 100%;
    overflow: hidden;
    height: 0px;
    margin: 10px 0px;
    clear: both;
}

.logo {
    width: 230px; 
    background-color: #0288d1; 
    height: 64px;
    border-right: solid 1px #0277bd;
}

.logoPpal{
    /*background-color: red;*/ 
    width: auto; 
    height: 30px; 
    margin-top: 7px; 
    margin-left: 12px; 
    font-size: 36px; 
    font-weight: bold; 
    display: inline-block;
    color: white;
    opacity: 0.9;
}

.separatorLogo{
    width: 2px;
    height: 27px;
    margin: 0 8px;
    background-color: white;
    display: inline-block;
    opacity: 0.5;
}

.descripcion{
    width: 90px;
    height: 30px;
    display: inline-block;
    color: white;
    opacity: 0.7;
    font-size: 13.5px;
}

.imagenPerfilUsuario{    
    float: left; 
    width: 48px !important; 
    height: 48px !important;
    margin-right: 5px;
}

.nombrePerfilUsuario{ 
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.rolUsuario{
    font-family: 'roboto_condensedlight';
    font-size: 13px !important;
}

.contenedorIconosHeader{
    height: 47px;
    width: auto;
    margin-top: 8px;
    float: right !important;
}

.contenedorIndividualIconos{
    width: 47px;
    height: 47px;
    margin-left: 4px;
    display: inline-block;
    float: right;
    transition: all 0.3s ease;    
    border-radius: 50%;
    cursor: pointer;
    color: #e1f5fe;
    overflow: hidden;
}

.contenedorIndividualIconos:hover{
    background-color: #039be5;
}

.iconoHeader{
    width: 32px;
    height: 36px;
    margin: 5.5px auto;
    background-size: 100%; 
    background-position: center !important; 
    background-repeat: no-repeat;
    opacity: 0.9;
}

/*.topMenuIcons{
    height: 28px !important;
    width: 28px !important;
    opacity: 0.9 !important;
}

.asdf{
    transition: all 0.3s ease;    
    border-radius: 50%;
    cursor: pointer;
    display: block;
    float: left;
    color: #e1f5fe;
    overflow: hidden;
}

.asdf:hover{
    background-color: #039be5;
}*/

/*#top-menu > li > a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 28px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  width: 47px;
  height: 37px;
  cursor: pointer;
  display: block;
  float: left;
  color: #e1f5fe;
  overflow: hidden;
}
#top-menu > li > a:hover,
#top-menu li a:focus {
  background-color: #039be5;*/
