.ui-widget {
    font-size: 13px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
    text-align: right;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
}
.ui-button-create {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

.fisiokinesioterapia .fc-event-inner {
    background: #3F51B5; /*indigo*/
}
.kinesioterapiaRespiratoria .fc-event-inner {
   background: #F6BF26; /*girasol*/
 }
.drenajeLinfatico .fc-event-inner {
   background: #33B679; /*menta*/
 }
 .rehabilitacionNeurologica .fc-event-inner {
   background: #E67C73; /*flamenco*/
 }
 .esteticaElectrodos .fc-event-inner {
   background: #616161; /*grafito*/
 }
 .esteticaMasajes .fc-event-inner {
   background: #8E24AA; /*uva*/
 }
 .gimnasiaTerapeutica .fc-event-inner {
   background: #7986CB; /*lavanda*/
 }