.ui-widget {
    font-size: 13px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
    text-align: right;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
}
.ui-button-create {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

.fisiokinesioterapia .fc-event-inner {
    background: #5C6BC0;
}
.kinesioterapiaRespiratoria .fc-event-inner {
   background: #EC407A;
 }
.drenajeLinfatico .fc-event-inner {
   background: #26A69A;
 }
 .rehabilitacionNeurologica .fc-event-inner {
   background: #AB47BC;
 }
 .esteticaElectrodos .fc-event-inner {
   background: #FF7043;
 }
 .esteticaMasajes .fc-event-inner {
   background: #8D6E63;
 }
 .gimnasiaTerapeutica .fc-event-inner {
   background: #FFEE58;
   color: black;
 }