.ui-widget {
    font-size: 14px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
    text-align: right;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
}
.ui-button-create {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

.fisiokinesioterapia{
    background: #3F51B5 !important; /*indigo*/
}
.kinesioterapiaRespiratoria{
   background: #F6BF26 !important; /*girasol*/
 }
.drenajeLinfatico{
   background: #33B679 !important; /*menta*/
 }
 .rehabilitacionNeurologica{
   background: #E67C73 !important; /*flamenco*/
 }
 .esteticaElectrodos{
   background: #616161 !important; /*grafito*/
 }
 .esteticaMasajes{
   background: #8E24AA !important; /*uva*/
 }
 .gimnasiaTerapeutica{
   background: #7986CB !important; /*lavanda*/
 }